<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | SELARAS</title>

     <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.cdnfonts.com/css/transcity" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'css/output.css' %}" />

</head>

<body>

    <!--  Main Login Layout -->
    <main class="min-h-screen items-center justify-center mx-auto overflow-hidden max-w-full">

        <!-- Login Form Card -->
        <div class="flex flex-col lg:p-8 md:p-6 p-4 items-center justify-center">

        </div>
        

    </main>
    
</body>
</html>